;<?php
;/*

; Este eh um template de arquivo de configuracao.
; Para configurar uma nova instalaçao, voce deve editar este arquivo
; e salvar como config.ini.php.
; locais possiveis: raiz, /cfg ou /uploads
; **NAO INCLUA SEU CONFIG.INI.PHP NO VERSIONAMENTO**

; Quando criar novas variaveis de configuracao, lembre-se de incluir
; no template tambem, pls :)

; > Este arquivo nao possui acentos para facilitar navegacao por terminal

; > Note que o espaco entre variaveis e o operador '=' pode ser importante
; para scripts que alteram este arquivo

; =====================================================================================
[Config]
; Versao do arquivo de configuracao. Mostra uma mensagem para atualizar se nao bater
versao = 1

; =====================================================================================
[Suporte]
; Impede qualquer acesso ao sistema e mostra mensagem de manutencao
manutencao = false

; Controle global para mensagens de debug. Em producao, deve ser false
debug = false

; Controle global para modo de desenvolvimento
developer = false

; =====================================================================================
[NFe]
; Modo homologaçao da nota fiscal eletronica. Em producao, deve ser false
homologacao = true

; Tipo padrao de nota fiscal: 55 = NF-e, 65 = NFC-e (cupom), 0 = sistema nao fiscal 
modelo_nf = 55

; =====================================================================================
[Email]
; Credenciais de servidor de envio de e-mail vao aqui.
smtp_host = "smtp.gmail.com"
smtp_port = 587
smtp_user = "cleitonsorrilha@gmail.com"
smtp_pass = "teste"
smtp_secure = "tls"

; =====================================================================================
[Database]
; Credenciais de banco de dados vao aqui.
dbdriver = "@@driver@@"
dbhost = "@@host@@"
dbname = "@@database@@"
dbuser = "@@user@@"
dbpass = "@@pass@@"
dbforceutf8 = true

; =====================================================================================
[Sistema]
; Senha mestra para sobrescrever as permissoes do usuario logado
senha = "@@masterkey@@"

; Abre mao do CPF obrigatorio no cadastro -- use com cuidado!
; Quando for false, usara o NOME COMPLETO como regra de duplicidade.
; Voce nao pode desabilitar estas duas regras ao mesmo tempo.
libera_cpf = false

; Numero de casas depois da virgula para campos monetarios
; ATENCAO: para sistemas que emitem Nota Fiscal brasileira, use sempre 2 casas.
casas_decimais = 2

; Funcionamento de geracao de boletos no CONTRATO. Nao afeta a rotina de vendas
; true = permite processar uma janela selecionavel entre dois meses
; false = permite processar varios clientes simultaneos, mas apenas um mes por vez, ou o ano inteiro.
lote_boletos = false

; Valores de grade de produto para tamanhos e cores.
; Devem ser definidos como lista separada por virgulas
grade_tamanhos = "P,M,G,GG"
grade_cores = "Azul,Amarelo,Vermelho,Preto,Branco"

;*/
